@font-face {
	font-family: 'MyriadProLightRegular';
	src: url('../fonts/myriadpro-light-webfont.eot');
	src: url('../fonts/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-light-webfont.woff') format('woff'), url('../fonts/myriadpro-light-webfont.ttf') format('truetype'), url('../fonts/myriadpro-light-webfont.svg#MyriadProLightRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadProBold';
	src: url('../fonts/myriadpro-bold-webfont.eot');
	src: url('../fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-bold-webfont.woff') format('woff'), url('../fonts/myriadpro-bold-webfont.ttf') format('truetype'), url('../fonts/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadWebProRegular';
	src: url('../fonts/myriad_web_pro-webfont.eot');
	src: url('../fonts/myriad_web_pro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/myriad_web_pro-webfont.woff') format('woff'), url('../fonts/myriad_web_pro-webfont.ttf') format('truetype'), url('../fonts/myriad_web_pro-webfont.svg#MyriadWebProRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadProSemiBold';
	src: url('../fonts/myriadpro-semibold-webfont.eot');
	src: url('../fonts/myriadpro-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-semibold-webfont.woff') format('woff'), url('../fonts/myriadpro-semibold-webfont.ttf') format('truetype'), url('../fonts/myriadpro-semibold-webfont.svg#MyriadProLightBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
 @media screen and (min-width: 400px) and (max-width: 700px) {
 body {
 font:normal 12px "MyriadWebProRegular";
 color:#111111;
 margin:0px;
 padding:0px;
 background-color:#FF0000;
 }

 }
 @media screen and (min-width: 700px) and (max-width: 1600px) {
 body {
 font:normal 12px "MyriadWebProRegular";
 color:#111111;
 margin:0px;
 padding:0px;
 }

 }
 */

body {
	font: normal 12px "MyriadWebProRegular";
	color: #111111;
	margin: 0px;
	padding: 0px;
	border-top:5px solid #f4231f;
}


.list ul li {
	list-style-image: url(images/bullet.gif);
	border-bottom: 1px solid #ccc;
	padding: .2em 0 .2em .5em;
	font-weight: bold;
	color: #666; 
	display: block !important; 
}

/*td, div, p, input, select, textarea, span {
	font: normal 12px "MyriadWebProRegular";
	color: #111111;
}
td, div, p {
	line-height: 17px;
}*/
img {
	border: 0px;
}
a:link, a:visited, a:active {
	text-decoration: underline;
	color: #0153bc;
}
a:hover {
	text-decoration: underline;
	color: #000000;
}

.header, .footer, .content {
	width: 980px;
	margin: 0px auto;
}
.download {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 206px;
	height: 167px;
}
.logo {
	padding-top: 20px;
	padding-bottom: 40px;
}
.imageRoller {
	padding-bottom: 30px;
}
.largeTitle {
	font: bold 18px "Trebuchet MS" !important;
	padding-bottom: 10px;
	font-size: 22px;
}

.largeTitleRed {
	font: normal 22px "MyriadWebProRegular";
	padding-bottom: 18px;
	color: #B30203;
}
.meduimText {
	font: normal 14px "MyriadWebProRegular" !important;
	line-height: 22px !important;
}
.meduimTextLight {
	font: normal 14px "MyriadProLightRegular" !important;
	line-height: 22px !important;
}
.largeText {
	font: normal 20px "MyriadWebProRegular" !important;
	line-height: 25px;
}
.lightColor {
	color: #555555;
	font-family: "MyriadWebProRegular" !important;
}
.redColorText {
	color: #B30203;
	font-size: inherit;
	font-family: "MyriadWebProRegular" !important;
}
.boldText {
	font-family: "MyriadProSemiBold";
	font-size: inherit;
}
.roundedBox {
	background-color: #efefef;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 18px;
}
.rightPanel {
	padding-left: 14px;
}
.leftPanel {
	padding-right: 45px;
}
.redTtile {
	font: normal 14px "MyriadProRegular";
	color: #B30203;
}

a.more:link, a.more:visited, a.more:active {
	color: #d40000;
	text-decoration: none;
	background-image: url(../images/bllet.png);
	background-repeat: no-repeat;
	font-family: "MyriadWebProRegular" !important;
	display: none;
	background-position: 0px 6px;
	padding-left: 12px;
	font-size: 12px !important;
	margin-top: 4px;
}

a.more:hover {
	color: #333333;
	text-decoration: none;
	background-image: url(../images/bllet.png);
	background-repeat: no-repeat;
	font-family: "MyriadWebProRegular";
	display: none;
	padding-left: 12px;
	margin-top: 4px;
	background-position: 0px 6px;
}

.panel {
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

.panel li {
	list-style: none;
	width: inherit !important;
}
.panel li ul {
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.panel .itemSelectedHeader {
	padding: 9px 4px 1px 15px;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	color: #ff0000;
	font-size: 14px;
	background-color: #FFF9DA;
	background-image: url(../images/upArrow.jpg);
	background-repeat: no-repeat;
	background-position: right 9px;
	cursor: pointer;
}
.panel .header {
	padding: 0px 4px 1px 4px;
	border-bottom: 1px solid #d3d3d3;
	color: #ff0000;
	font-size: 16px;
	background-image: url(../images/downArrow.jpg);
	background-repeat: no-repeat;
	background-position: right 9px;
	cursor: pointer;
	clear:both;
}

.emp {
	font:bold 14px "Trebuchet MS";
	margin-right:7px;
}
.panel .itemSelectedHeader a {
	text-decoration: none;
	color: #d50607;
	font-size: 14px;
	font-family: "MyriadWebProRegular";
}
.panel .header a {
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	font-family: "MyriadWebProRegular";
}
a.clickHeader {
	display: block;
	padding: 8px 0px 4px 0px;
}
.panel .content {
	padding: 4px 0px;
	color: #444444;
	display: block;
	width: inherit !important;
	font-size: 13px;
	line-height: 150%;
	font-family: "MyriadWebProRegular";
	position:relative;
	margin:10px 10px 0px 0px;
	
}
.panel .content li{
	line-height:21px;
}

.moreLink {
	padding: 5px;
	text-align: right;
}
.panel .item .content {
	display: none;
}

.topMenu {
	padding: 0px;
	margin-top: 40px;
}
.topMenu li {
	display: inline;
	padding: 0px;
	list-style: none;
	float: left;
	color:#c8c8c8;
}
.topMenu li a {
	display: inline-block;
	text-decoration: none;
	color: #333333;
	font-size: 13px;
	margin-left: 10px;
	margin-right: 20px;

}
.topMenu li a:hover {
	display: inline-block;
	text-decoration: none;
	color: #ab110e;
	font-size: 13px;
	margin-left: 10px;
	margin-right: 20px;
}
.footer {
	margin-top: 40px;
}
.footerText {
	color: #686868;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footerRightImage {
	float: right;
}

img.floatLeft {
	float: left;
	margin:0px 15px 10px 0px;
	border: 1px solid #8DA2C4;
	padding: 2px;
}
img.floatRight {
	float: right;
	margin:0px 0px 10px 15px;
	padding: 2px;
	border: 1px solid #8DA2C4;
}

img.rightBottom {
	position:absolute;
	bottom:20px;
	right:20px;
	margin: 10px;
	padding: 1px;
	border: 1px solid #8DA2C4;
}

img.floatBottom {
	bottom:20px;
	right:20px;
	margin: 10px;
	padding: 1px;
	border: 1px solid #8DA2C4;
}

.starButton
{
	background-image:url(../images/btnStart.png);
	background-repeat:no-repeat;
	position:absolute;
	margin-top:-50px;
	width:103px;
	height:72px;
}
.watchVideosButton
{
	background-image:url(../images/btnVideos.png);
	background-repeat:no-repeat;
	position:absolute;
	margin-top:-50px;
	width:228px;
	height:65px;
}
.actionButtons img
{
	margin-right:10px;
}
.actionButtons
{
	margin:-5px 0px 40px 0px;
}
.introText
{
	color:#4b4b4b;
	font: normal 18px "MyriadWebProRegular";
}
.introLargeText
{
	font: normal 20px "MyriadWebProRegular";
	color:#4b4b4b;
}
.textSeperator
{
	margin-right:10px;
}

table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
}